.root{
    -fx-font-family: "Quando";
}

.anchor-pane{
   -fx-background-color: #0C475A;
}
#Title{
    -fx-font-family: "Quando";
    -fx-font-size: 72px;
    -fx-alignment: CENTER;
}

.Container{
    width: 412px;
    height: 398px;
    -fx-background-color: #126A87;
    -fx-background-radius: 22px;
}

.text-field,password-field{
    -fx-background-color: #0C475A;
    -fx-border-width: 3px;
    -fx-border-color: #519BB2;
    -fx-background-radius: 9px;
    -fx-border-radius: 9px;
    -fx-text-fill: #C7F1FF;
}

.InputLabel{
    -fx-fill: #CCE7F1;
    -fx-text-fill: #CCE7F1;
    -fx-font-size: 16px;
}

.SubmitButton, .toggle-button{
    -fx-background-color: #0C475A;
    -fx-border-width: 3px;
    -fx-border-color: #519BB2;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: #CCE7F1;
    -fx-font-size: 18px;
    -fx-cursor: hand;

}

.toggle-button:selected{
    -fx-background-color: #188db4;
    -fx-text-fill: #CCE7F1;
}

.SubmitButton: hover{
    -fx-background-color: #188db4;
    -fx-text-fill: #CCE7F1;
}

.Link{
    -fx-fill: #96C6D6;
    -fx-cursor: hand;
}

.LeftPane{
    -fx-background-color: #126A87;
}

.RightPane{
   -fx-background-color: #0C475A;
}

.contentPane{
    -fx-background-color: #126A87;
    -fx-background-radius: 33px;
    -fx-border-radius: 33px;
}

.list-view, .list-cell {
      -fx-background-color: #126A87;
}

.list-cell{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #0C475A;
    -fx-text-fill: #E8F3F8;
    -fx-font-size: 20px;
}

.list-cell:empty {
    -fx-border-width: 0px;
}

.background-pane{
    -fx-background-color: #0C475A;
    -fx-background-radius: 46px;
    -fx-border-radius: 46px;
}

.icon-button{
    -fx-cursor: hand;
    -fx-shape: "M23.175 44.85C11.2042 44.85 1.5 35.1458 1.5 23.175C1.5 11.2042 11.2042 1.5 23.175 1.5C35.1458 1.5 44.85 11.2042 44.85 23.175C44.85 35.1458 35.1458 44.85 23.175 44.85Z M22.9828 9.00014C22.6919 9.00489 22.4146 9.13012 22.2119 9.34834C22.0092 9.56656 21.8976 9.85995 21.9016 10.1641V10.7382H15.8602C15.7147 10.7362 15.5702 10.7643 15.4352 10.8211C15.3002 10.8779 15.1774 10.9622 15.0738 11.069C14.9702 11.1758 14.8879 11.3031 14.8318 11.4434C14.7756 11.5838 14.7467 11.7344 14.7467 11.8865H13.1141C12.9685 11.8843 12.824 11.9125 12.6889 11.9692C12.5539 12.0259 12.4309 12.1102 12.3273 12.217C12.2236 12.3238 12.1413 12.4512 12.0851 12.5915C12.0289 12.7319 12 12.8826 12 13.0348C12 13.1869 12.0289 13.3376 12.0851 13.478C12.1413 13.6184 12.2236 13.7457 12.3273 13.8525C12.4309 13.9593 12.5539 14.0436 12.6889 14.1003C12.824 14.1571 12.9685 14.1852 13.1141 14.183H32.8859C33.0315 14.1852 33.176 14.1571 33.3111 14.1003C33.4461 14.0436 33.5691 13.9593 33.6727 13.8525C33.7764 13.7457 33.8587 13.6184 33.9149 13.478C33.9711 13.3376 34 13.1869 34 13.0348C34 12.8826 33.9711 12.7319 33.9149 12.5915C33.8587 12.4512 33.7764 12.3238 33.6727 12.217C33.5691 12.1102 33.4461 12.0259 33.3111 11.9692C33.176 11.9125 33.0315 11.8843 32.8859 11.8865H31.2533C31.2533 11.7344 31.2244 11.5838 31.1682 11.4434C31.1121 11.3031 31.0298 11.1758 30.9262 11.069C30.8226 10.9622 30.6998 10.8779 30.5648 10.8211C30.4298 10.7643 30.2853 10.7362 30.1398 10.7382H24.0984V10.1641C24.1004 10.0105 24.073 9.85799 24.0176 9.71567C23.9622 9.57336 23.8801 9.44411 23.776 9.33557C23.672 9.22704 23.5482 9.14142 23.412 9.08381C23.2757 9.02619 23.1298 8.99774 22.9828 9.00014ZM13.1141 16.4795L15.0835 33.9726C15.2132 35.1289 16.1494 36 17.2632 36H28.7368C29.8506 36 30.7857 35.1289 30.9165 33.9726L32.8859 16.4795H13.1141Z";
    -fx-background-color: #348BA7;
}

.smallButton{
    -fx-cursor: hand;
    -fx-background-color: #0C475A;
    -fx-text-fill: "#FFFFFF";
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #348BA7;
    -fx-border-width: 3px;
}

.smallButton:hover{
    -fx-background-color: #348BA7;
}

